@charset "UTF-8";

* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

:root {
    --corPrimary: #374F80;
    --corSecundaria:#6490E8;
    --corTerciaria: #4E70B5;
}

body {
    background-color: var(--corPrimary);
    color: white;
}

main {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    height: 300px;
    width: 300px;
}

#section-first {
    background-color: white;
    color: black;
}

h1 {
    font-size: 2em;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    padding: 10px;
    font-weight: bolder;
}

input {
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 88%
}

button {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    width: 90%;
    background-color: var(--corTerciaria);
    color: white;
    font-weight: bolder;
}

button:hover {
    background-color: var(--corSecundaria);
}

img {
    height: 300px;
    width: 300px;
}
