@charset "UTF-8";

* {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    outline: 0;
    box-sizing: border-box;
    line-height: 1.5em;
}

:root {
    --corPrimary: #374F80;
    --corSecundaria:#6490E8;
    --corTerciaria: #4E70B5;
}

body {
    background-color: var(--corPrimary);
    color: white;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    background-color: white;
    color: black;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    width: 250px;
}

h1 {
    font-size: 2em;
    padding: 10px;
    text-align: center;
}

label {
    font-weight: bolder;
}

input {
    margin: 10px 0px;
    height: 50px;
    width: 100%;
}

button {
    cursor: pointer;
    height: 50px;
    margin: 10px 0px;
    width: 100%;
    background-color: var(--corTerciaria);
    color: white;
    font-weight: bolder;
    border: none;
}


button:hover {
    background-color: var(--corSecundaria);
}

.incorreto {
    background-color: rgb(250, 99, 99);
    padding: 10px;
}
  
.correto {
    background-color: lightgreen;
    padding: 10px;
}
